div > img {
    padding-left: 15px;
    margin-top: 20px;
    height: 8%;
    width: 8%;
  }
  .list li {
    display: inline-block;
    padding: 2%;
  }
  .grow-list ul {
    margin-top: -45px;
    margin-left: -250px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .grow-list li:hover {
    font-weight: bold;
  }
  .button-group > button {
    float: right;
    display: flex;
    margin-top: -70px;
    border: 1.5px solid black;
    border-radius: 7px;
    padding: 9px 9px;
    background: rgb(89, 68, 138);
    color: white;
  }
  .banner-container img {
    float: right;
    height: 45%;
    width: 56%;
    margin-top: -445px;
  }
  div > h1 {
    padding-left: 35px;
    padding-right: 800px;
    text-align: left;
    font-size: 70px;
    color: rgb(64, 7, 102);
  }
  span {
    color: rgb(112, 112, 243);
  }
  .description {
    padding-left: 48px;
    padding-right: 800px;
    text-align: left;
    font-size: 20px;
  }
  .nav-button {
    float: left;
    display: flex;
    margin-top: 12px;
    margin-left: 80px;
    border: 1.5px solid black;
    border-radius: 7px;
    padding: 20px 60px;
    background: rgb(89, 68, 138);
    color: white;
  }
    
  
  